/.yarn
/.github
/.husky
/src
/dist/tests
/.nyc_output
/docs

.mocharc.json
.stylelintrc.json
.eslintrc.json
.eslintignore
.gitignore
.lintstagedrc
.prettierrc.json
.prettierignore
.nycrc.json
.yarnrc.yml

commitlint.config.ts
tsconfig.json

todo
