/.undodir
/.nyc_output
/.yalc
/.yarn
/.github
/.husky
/src
/dist/tests
/docs

.mocharc.json
.stylelintrc.json
.eslintrc.json
.eslintignore
.gitignore
.lintstagedrc
.prettierrc.json
.prettierignore
.nycrc.json
.yarnrc.yml
.yamlfmt.yml
.yamllint.yml

commitlint.config.ts
tsconfig.json

todo
